<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%# <hr>
  <h3>Ingredients</h3>
  <%= f.simple_fields_for(@dose) do |f_dose| %>
  <%#  <%= f_dose.association :ingredient, collection: Ingredient.order(:name), prompt: 'Choose an ingredient', input_html: { class: 'select2' } %>
  <%#  <%= f_dose.input :description %>
  <%# <% end %>
  <%# <%= link_to 'Add an ingredient', class: 'btn btn-outline-primary' %>
  <%# <hr> %>
  <%= f.submit class: 'btn btn-primary mt-3' %>
<% end %>
