<div class="container">
  <h1><%= @cocktail.name %></h1>

  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

  <ul>
    <% @doses.each do |dose| %>
      <li><%= dose.description %> <%= dose.ingredient.name %> | <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %></li>
    <% end %>
  </ul>

  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary mr-2' %>
  <%= link_to 'Back to list', cocktails_path, class: 'btn btn-outline-primary' %>
</div>
