<div class="container">
  <h1><%= @cocktail.name %> <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: 'btn btn-outline-primary ml-2' %></h1>

  <div class="default-card cocktail-show-card">

    <div class="cocktail-ingredients">
      <h3>Ingredients</h3>
      <ul>
        <% @doses.each do |dose| %>
          <li>
            <%= dose.description.downcase %> <%= dose.ingredient.name.downcase %> 
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-primary' %>
    </div>

    <div class="cocktail-img">
      <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, crop: :fill, style:'width: 100%' %>
      <% end %>
    </div>


  </div>

</div>
