<div class="container">
  <h1><%= @cocktail.name %> <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: 'btn btn-outline-primary ml-2' %></h1>

  <div class="cocktail-show-card">

    <div class="cocktail-show-card-ingredients">
      <h3>Ingredients</h3>
      <ul>
        <% @doses.each do |dose| %>
          <li>
            <%= dose.description.downcase %> <%= dose.ingredient.name.downcase %> 
            <span class="btn-delete"><i class="far fa-trash-alt"></i></span>
            <%= link_to "", dose_path(dose), method: :delete, id: "delete-link", class: "hidden" %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-primary' %>
    </div>

    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
    <% end %>

  </div>

  <div class="default-card mt-4">
    <%= link_to 'Add a review', new_cocktail_review_path(@cocktail), class: 'btn btn-primary' %>
    
    <% if @cocktail.reviews.size > 0 %>

      <div class="cocktail-reviews">

        <% @cocktail.reviews.each do |review| %>
          <div class="cocktail-review">

            <div class="cocktail-review-header">
              <div class="cocktail-review-header-rating">
                <% review.rating.times do %>
                  <i class="fas fa-star star"></i>
                <% end %>
              </div>
              <div class="cocktail-review-header-title">
                <%= review.title %>
              </div>
            </div>

            <div class="cocktail-review-date">
              <%= review.created_at.strftime("Posted on %m/%d/%Y") %>
            </div> 

            <div class="cocktail-review-content">
              <%= review.content %>
            </div>

          </div>
        <% end %> 

      </div>

    <% end %>

  </div>

</div>
